@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Erro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Um erro ocorreu enquanto a requisição foi processada</h1>
<h3>@Model.Exception.Message</h3>
<h4>No Controler: @Model.ControllerName e action @Model.ActionName</h4>

